@model ProjMVCRelacionamento_Aula6.TB_TELEFONE

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TB_TELEFONE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TB_PESSOA.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TB_PESSOA.nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
